<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learn: Elasticsearch Persistence</title>
  <%= stylesheet_link_tag "application", "sessions" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="login_wrapper">
  <div>
    <%= yield %>
  </div>
</body>
</html>
